body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  z-index: -1;
  filter: blur(8px);
  transform: scale(1.1);
}
.reloadButton {
  position: fixed;
  bottom: 20px;
  left: 0;
  background: var(--black-trans);
  border: 1px solid var(--light-trans);
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pri);
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  padding: 12px;
  backdrop-filter: blur(1px);
}
.reloadButton i {
  color: var(--light);
  font-size: 18px;
}
