.clockContainer {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  background: var(--black-trans);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  border: 1px solid var(--light-trans);
}

.hoursMinutes {
  font-size: 3rem;
  font-weight: bold;
  color: var(--light);
  z-index: 10;
}

.dot {
  width: 14px;
  height: 14px;
  background: var(--pri);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transition: transform 0.05s linear;
}
h6 {
  margin-bottom: 20px;
  color: #ccc;
  font-size: 0.9rem;
}
.date {
  width: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.tooltip {
  position: absolute;
  z-index: 20;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--pri-trans);
  color: #fff;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 6px;
  white-space: nowrap;
  pointer-events: none;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  border: 1px solid var(--light-trans);
}
