@font-face {
  font-family: "Digital-7";
  src: url("../Fonts/ScienceGothic-Bold.ttf") format("truetype");
}
:root {
  --pri: #232946;
  --pri-trans: #23294650;
  --sec: #b8c1ec;
  --sec-trans: #b8c1ec50;
  --light: #fffffe;
  --light-trans: #fffffe50;
  --muted: #777;
  --font: "Digital-7";
  --black: #000000;
  --black-trans: #00000050;
  --red: #ff4c60;
  --red-dull: #ff4c6050;
  --light-dull: #fffffe30;
  --green: #4ade80;
  --green-dull: #4ade8050;
  --yellow: #fbbf24;
  --yellow-dull: #fbbf2450;
  --blue: #60a5fa;
  --blue-dull: #60a5fa50;
  --timer-overlay: rgba(0, 0, 0, 0.8);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--pri);
  color: var(--light);
  font-family: var(--font);
  overflow: hidden;
  zoom: 75%;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
body,
html {
  width: 100%;
  height: 100%;
}
